DISCORD_TOKEN="DISCORD_BOT_TOKEN"
CLIENT_ID="DISCORD_BOT_ID"

THRESHOLD_XP="CHAT_XP_THRESHOLD"

HEALTH_PORT="YOUR_HEALTH_PORT"


SUPABASE_PROJECT_ID="SELF_EXPLAINATORY"
SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_PUBLISHABLE_KEY="YOUR_SUPABASE_PUBLISHABLE_KEY"
SUPABASE_SERVICE_ROLE_KEY="FOR_SECURELY_ACCESSING_DATABASE"